@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.project-menu-initial-state {
  transform: translateX(-100%);
  opacity: 0;
  z-index: -1;
}
